.courses {
  background-color: #f7f7f7;
}

.reg-form .form-group.required label:after,
.reg-form .form-check.required label:after {
  text-shadow: none;
  content: " *";
  color: #ee0000;
  font-weight: bold;
}

.reg-form{
  margin-left: 3px;
}

.form-control{
  height: 50px;
  margin-bottom: 12px;
  // vertical-align: center;
  padding: 10px 15px;
}

.form-check{
  margin-top: 21px;
  margin-bottom: 0;

  font-size: 0.875rem;
  font-weight: 300;

  > label {
      margin-bottom: 0;
      color: #666;
      a {
        color: #708ab0;
      }
  }
}