.mentors {
  margin-top: 70px;
  margin-bottom: 20px;
  &-title {
    text-align: center;
    > h2 {
      line-height: 1.1;
      font-size: 36px;
      margin-bottom: 0px;
    }
  }

  &-item {
    width: 100% !important;

    &-avatar {
      display: block;
      margin: 0 auto;
      width: 337px;
      height: 356px;
      max-width: 337px;
    }

    &-name {
      padding-left: 11px;
      padding-top: 33px;
      font-size: 21px;
      font-weight: bold;
      color: #3498db;
    }

    &-text {
      padding: 40px 0 35px 11px;
      line-height: 1.56;
      > p {
        margin-bottom: 13px;
      }
    }
  }
}

@media (max-width: 768px) {
  .mentors {
    width: 100%;
    margin-top: 30px;
    padding: 0;
    gap: 10px;
    &-title {
      > h2 {
        font-size: 26px;
      }
    }

    &-item {
      &-avatar {
        padding: 2px 60px 0;
        margin: 0 auto;
        width: 380px;
        height: 210px;
      }

      &-name {
        text-align: center;
        font-size: 21px;
        font-weight: bold;
      }

      &-text {
        text-align: center;
        line-height: 1.56;
        > p {
          margin-bottom: 13px;
        }
      }
    }
  }
}
@media (max-width: 576px) {
  .mentors {
    &-item {
      &-avatar {
        height: 155px;
        width: 260px;
      }
    }
  }
}

@media (max-width: 992px) {
  .mentors {
    &-item {
      &-avatar {
        height: 210px;
        width: 210px;
      }
    }
  }
}
