.reviews {
  margin-top: 70px;
  &-title {
    text-align: center;
    > h2 {
      line-height: 1.1;
      font-size: 36px;
    }
  }

  &-text {
    text-align: center;
  }
}

.swiper-slide {
  //   width: 100%;
}
