<section id="about" class="about-long">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12 device">
        <img src="img/about_long_phone.png" alt="phone" class="img-fluid" />
      </div>
      <div class="col-md-6 col-sm-12 content">
        <h3 class="subtitle">dip into the details</h3>
        <h2 class="caption">Beautiful on every device</h2>
        <img src="img/double_line.png" alt="_ _" />
        <p class="description-text">
          Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi
          accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare
          odio. Sed non mauris vitae erat consequat auctor eu in elit.
        </p>
        <ul class="list p-0">
            <li><img src="img/cup.png" alt="cup">Awesome design</li>
            <li><img src="img/mouse.png" alt="mouse">Fully responsive</li>
            <li><img src="img/energy.png" alt="energy">Retina ready</li>
            <li><img src="img/speedometer.png" alt="speedometer">Tons of features and easy to use</li>
      </div>
    </div>
  </div>
</section>
