<section id="contact" class="contact">
  <div class="container">
    <div class="d-flex flex-column align-items-center">
      <h3 class="subtitle">stay in touch</h3>
      <h2 class="caption">Contact us</h2>
      <img src="img/double_line.png" alt="_ _" width="42" height="2" />
    </div>
    <div class="con-items">
      <div class="col-lg-4 con-item">
        <img src="img/phone.png" alt="" width="32" height="32" />
        <p>
          Phone: (415) 124-5678<br />
          Fax: (412) 123-8290
        </p>
      </div>
      <div class="col-lg-4 con-item">
        <img src="img/pointer.png" alt="" width="32" height="32" />
        <p>
          1001 Brickell Bay Dr.<br />

          Suite 1900<br />
          Miami, FL 33131
        </p>
      </div>
      <div class="col-lg-4 con-item">
        <img src="img/envelope.png" alt="" width="32" height="32" />
        <p>support@yourname.com</p>
      </div>
    </div>

    <form class="form">
      <div class="row">
        <div class="col-lg-6 col-md-12 form-group">
          <input
            class="form-control"
            type="text"
            id="name"
            placeholder="name  *"
          />
          <input
            class="form-control"
            type="email"
            id="email"
            placeholder="email  *"
          />
          <input
            class="form-control"
            type="text"
            id="subject"
            placeholder="subject  *"
          />
        </div>
        <div class="col-lg-6 col-md-12 form-text">
          <textarea
            class="form-control"
            id="message"
            placeholder="message  *"
            rows="5"
          ></textarea>
        </div>
      </div>
      <div class="form-button">
        <button class="btn btn-primary text-uppercase" type="submit">
          send message
        </button>
      </div>
    </form>
  </div>
</section>
