<section id="features" class="features">
  <div class="container">
    <div>
      <h3 class="subtitle">product overview</h3>
      <h2 class="caption">List of amazing features</h2>
      <img src="img/double_line.png" alt="_ _" />
    </div>
    <div class="feature-items row">
      <div class="feature-item col-md-6 col-sm-12 col-lg-3 p-0">
        <div class="feature-item-img">
          <img src="img/monitor.png" alt="monitor" class="img-fluid" />
        </div>

        <h3 class="feature-item-title">Responsive</h3>
        <p class="feature-item-text">
          Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non
          ipsum lacinia consectetur.
        </p>
      </div>
      <div class="feature-item col-md-6 col-sm-12 col-lg-3 p-0">
        <div class="feature-item-img">
          <img src="img/settings.png" alt="settings" class="img-fluid" />
        </div>
        <h3 class="feature-item-title">Customizable</h3>
        <p class="feature-item-text">
          Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non
          ipsum lacinia consectetur.
        </p>
      </div>
      <div class="feature-item col-md-6 col-sm-12 col-lg-3 p-0">
        <div class="feature-item-img">
          <img src="img/like.png" alt="like" class="img-fluid" />
        </div>
        <h3 class="feature-item-title">Lovely design</h3>
        <p class="feature-item-text">
          Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non
          ipsum lacinia consectetur.
        </p>
      </div>
      <div class="feature-item col-md-6 col-sm-12 col-lg-3 p-0">
        <div class="feature-item-img">
          <img src="img/phone.png" alt="phone" class="img-fluid" />
        </div>
        <h3 class="feature-item-title">Mobile Friendly</h3>
        <p class="feature-item-text">
          Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non
          ipsum lacinia consectetur.
        </p>
      </div>
    </div>
  </div>
</section>
<hr />
