<footer class="footer">
  <ul class="social">
    <li>
      <a href="#"><i class="fab fa-fw fa-behance"></i></a>
    </li>
    <li>
      <a href="#"><i class="fab fa-fw fa-dribbble"></i></a>
    </li>
    <li>
      <a href="#"><i class="fab fa-fw fa-twitter"></i></a>
    </li>
    <li>
      <a href="#"><i class="fab fa-fw fa-facebook-f"></i></a>
    </li>
    <li>
      <a href="#"><i class="fab fa-fw fa-linkedin-in"></i></a>
    </li>
  </ul>
  <p class="text-copyright">copyright © 2014 lucid onepage theme</p>
</footer>
