<section id="price" class="price">
  <div class="container">
    <div>
      <h3 class="subtitle">quality has its price</h3>
      <h2 class="caption">Pricings & Plans</h2>
      <img src="img/double_line.png" alt="_ _" />
    </div>

    <div class="swiper">
      <div class="swiper-wrapper plan-items">
        <div class="swiper-slide plan-item">
          <h2 class="plan-name">Free</h2>
          <div>
            <p class="plan-price">0</p>
            <p class="plan-per">/per month</p>
          </div>
          <p class="plan-text">
            Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non
            ipsum <span class="text-primary">lacinia</span> consectetur.
          </p>
          <button type="button" class="btn btn-outline-light">order now</button>
        </div>

        <div class="swiper-slide plan-item">
          <h2 class="plan-name">Personal</h2>
          <div>
            <p class="plan-price">25</p>
            <p class="plan-per">/per month</p>
          </div>
          <p class="plan-text">
            Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non
            ipsum <span class="text-primary">lacinia</span> consectetur.
          </p>
          <button type="button" class="btn btn-outline-light">order now</button>
        </div>
        <div class="swiper-slide plan-item">
          <h2 class="plan-name">Business</h2>
          <div>
            <p class="plan-price">50</p>
            <p class="plan-per">/per month</p>
          </div>
          <p class="plan-text">
            Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non
            ipsum <span class="text-primary">lacinia</span> consectetur.
          </p>
          <button type="button" class="btn btn-outline-light">order now</button>
        </div>
        <div class="swiper-slide plan-item">
          <h2 class="plan-name">Ultimate</h2>
          <div>
            <p class="plan-price">99</p>
            <p class="plan-per">/per month</p>
          </div>
          <p class="plan-text">
            Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non
            ipsum <span class="text-primary">lacinia</span> consectetur.
          </p>
          <button type="button" class="btn btn-outline-light">order now</button>
        </div>
      </div>
    </div>
  </div>
</section>
