<section id="testimonials" class="testimonials">
  <div class="container">
    <div class="d-flex flex-column align-items-center">
      <h3 class="subtitle">quality has its price</h3>
      <h2 class="caption">Pricings & Plans</h2>
      <img src="img/double_line.png" alt="_ _" width="42" height="2" />
    </div>
    <div class="swiper reviews">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <blockquote>
            Once upon a time all the Rivers combined to protest against the
            action of the Sea in making their waters salt. “When we come to
            you,” said they to the Sea.
          </blockquote>
          <div class="autor d-flex">
            <img
              src="img/Joch_Doe.png"
              alt="Joch Doe"
              title="Joch Doe"
              width="59"
              height="59"
            />
            <div class="autor-about">
              <p class="autor-name">John Doe</p>
              <p class="autor-post">CEO, THE RIVERS COMPANY</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <blockquote>
            A shoe is not only a design, but it's a part of your body language,
            the way you walk. The way you're going to move is quite dictated by
            your shoes.
          </blockquote>
          <div class="autor d-flex">
            <img
              src="img/Dean_Winchester.png"
              alt="Dean Winchester"
              title="Dean Winchester"
              width="59"
              height="59"
            />
            <div class="autor-about">
              <p class="autor-name">Dean Winchester</p>
              <p class="autor-post">UX DESIGNER, GOOGLE INC.</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <blockquote>
            Once upon a time all the Rivers combined to protest against the
            action of the Sea in making their waters salt. “When we come to
            you,” said they to the Sea.
          </blockquote>
          <div class="autor d-flex">
            <img
              src="img/Joch_Doe.png"
              alt="Joch Doe"
              title="Joch Doe"
              width="59"
              height="59"
            />
            <div class="autor-about">
              <p class="autor-name">John Doe</p>
              <p class="autor-post">CEO, THE RIVERS COMPANY</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <blockquote>
            A shoe is not only a design, but it's a part of your body language,
            the way you walk. The way you're going to move is quite dictated by
            your shoes.
          </blockquote>
          <div class="autor d-flex">
            <img
              src="img/Dean_Winchester.png"
              alt="Dean Winchester"
              title="Dean Winchester"
              width="59"
              height="59"
            />
            <div class="autor-about">
              <p class="autor-name">Dean Winchester</p>
              <p class="autor-post">UX DESIGNER, GOOGLE INC.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
