.services {
  margin-top: 92px;

  > h2 {
    margin-bottom: 92px;
  }

  .swiper {
    &-wrapper {
      justify-content: space-between;
    }

    &-slide {
      display: flex;
      max-width: 300px;
      align-items: center;
      flex-direction: column;
      text-transform: uppercase;

      .views-field {
        &-field-media-image {
          height: 140px;
        }

        &-title {
          font-size: 21px;
          margin: 10px 0 8px;
          font-weight: bold;
        }

        &-body {
          font-size: 12px;
          text-align: center;
        }

        &-view-node {
          margin-top: 24px;

          > span {
            padding: 3px 6px;
            background-color: $base-cyan-color;

            &:hover {
              background-color: $base-dark-color;
              box-shadow: 0px 0px 5px 1px $base-cyan-color;
            }

            > a {
              color: white;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
