header {
  width: 100%;
  max-width: 100%;
  background-color: white;
  box-shadow: 0 1px 12px 0 rgb(51 51 51 / 23%);
}
.navbar {
  padding: 0;
  text-align: center;

  &-brand {
    margin-top: -3px;
    > img {
      padding: 5px 0;
      width: 100%;
    }
  }

  &-toggler {
    padding: 4px 9px;
    border-color: white;
    background-color: #337ab7;

    &-icon {
      background-image: url("https://img.icons8.com/ios-filled/150/ffffff/menu-rounded.png");
    }
  }

  &-nav {
    // margin-top: -1px;

    > li:last-child a {
      color: white;
      background-color: #337ab7;
      border-radius: 25px;
      &:hover {
        background-color: #286090;
      }
    }
  }
}

.nav {
  &-link {
    font-size: 14px;
    padding: 10px 1.15vw 10px 1.15vw !important;
    line-height: 20px;
    color: #666;
    &:hover {
      color: #337ab7;
      background-color: #eee;
    }
  }
}

@media (max-width: 768px) {
  .navbar {
    &-brand {
      > img {
        margin-top: -3px;
        margin-left: -2px;
        padding: 2px;
        height: 65px;
        width: 65px;
      }
    }
  }
}
