html{
    height: 100%;
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
    line-height: 22px;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    min-width: fit-content;
    margin: 0 auto;
}
.white{
    background-color:#DCDCDC;
    color: #777
}
.gray, a{
    background-color:#777;
    color: #FFF;
    text-decoration: none;
}
.fix-width{
    width: 980px;
    display: flex;
    margin: 0 auto;
    padding: 10px;
}

/* Header */

header {
    display: flex;
    align-items: center;
    height:230px;
}
.brand {
    display: flex;
    flex-direction: row;
}
.brand b {
    font-size: 30px;
    line-height: 20px;
}
.name p {
    margin: 9px 12px;
    word-spacing: 2.8px;
}
.contact {
    margin-top: 3px;
    margin-left: auto;
}
.contact a {
    font-size: 40px;
    line-height: 46px;
    letter-spacing: 0.025em;
    margin: 2px 0 0 0;
    background-color: #DCDCDC;
    color: #777;
    font-family: 'Open Sans Condensed';
}
.contact a:hover{
    text-decoration: none;
}

/* Menu */

menu{
    height: 80px;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}
ul.menu li{
    display: inline;
    list-style: none;
    font-size: 30px;
}
.menu{
    justify-content: center;
    align-items: center;
}
ul:first-child{
    padding: 0;
}
ul.menu li:not(:first-child):before{
    display: inline-block;
    padding: 0 10px;
    content: " | ";
}
a:hover{
    text-decoration: underline;
}

/* Slider */

.slider {
    height: 400px;
}
.slide {
    width: 100%;
    height: 100%;
    background-image: url(img/slide.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center bottom;
}

/* Content */

.content{
    flex-grow: 1;
    margin: 20px auto;
}

/* News */

.news {
    flex: 0 0 265px;
    padding: 0 50px 0 35px;
    height: 560px;
}
.news h1{
    font-size: 35px;
    line-height: 30px;
    letter-spacing: 0.02em;
    font-weight: 700;
    margin-bottom: 30px;
}
.item-news-list{
    margin-top: 22px;
}
#date{
    font-style: italic;
    letter-spacing: -0.4px;
    margin: 0;
}
#arhive{
    margin-top: 30px;
    text-align: right;
    line-height: 1.4;
    font-style: normal;
    text-decoration: underline;
}

/* Info */

.info{
    color: #777;
    height: 725px;
    padding-left: 60px;
    letter-spacing: -0.2px;
}
.info h1{
    font-size: 40px;
    line-height: 16px;
    letter-spacing: -0.58px;
    font-weight: 400;
    margin-bottom: 32px;
}
.info p{
    margin: 23px 0;
}

/* Footer */

footer{
    width: 100%;
    height: 220px;
    display: flex;
    align-items: center;
}
.copyright, .footer-menu, .company{
    flex-grow: 1;
}
.copyright p{
    margin: 12px 0 0 0;
    letter-spacing: -0,4px;
}
.footer-menu li{
    line-height: 26px;
    text-decoration: underline;
    list-style: none;
}
.company{
    display: flex;
    justify-content: end;
}
.company a{
    text-decoration: underline;
}
.company p{
    letter-spacing: -0.2px;
    margin: 0;
}
.footer-logo{
    margin-top: 19px;
}
.dev{
    margin: 13px 9px 0 10px;
}

/* Fonts */

@font-face {
    font-family: "Open Sans Condensed Light";
    src: url("../fonts/open-sans-condensed/OpenSansCondensed-Light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
