.path-moliek .moliek-form {
  margin: 10px 0;
  overflow: scroll;
}
.path-moliek .moliek-form .btn {
  margin: 0 1rem !important;
}
.path-moliek .moliek-form .table {
  margin-bottom: 2rem !important;
}
.path-moliek .moliek-form .table thead {
  text-align: center;
}
.path-moliek .moliek-form .table tbody td {
  padding: 5px 2px !important;
}
.path-moliek .moliek-form .table tbody td input {
  margin: 0 auto;
  max-width: 55px;
  text-align: center;
  padding: 5px 2px !important;
}
.path-moliek .moliek-form .form-item,
.path-moliek .moliek-form .form-actions {
  margin-bottom: 0 !important;
}
.path-moliek .moliek-form input::-webkit-outer-spin-button,
.path-moliek .moliek-form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.path-moliek .moliek-form input[type=number] {
  -moz-appearance: textfield;
}
