@-webkit-keyframes bounceRight {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  40% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
  60% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
}

@-moz-keyframes bounceRight {
  0%, 20%, 50%, 80%, 100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(-8px);
  }
  60% {
    transform: translateX(-5px);
  }
}

@keyframes bounceRight {
  0%, 20%, 50%, 80%, 100% {
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -ms-transform: translateX(-8px);
    transform: translateX(-8px);
  }
  60% {
    -ms-transform: translateX(-5px);
    transform: translateX(-5px);
  }
}

@keyframes bounceLeft {
  0%, 20%, 50%, 80%, 100% {
    -ms-transform: translateX(0) rotateY(180deg);
    transform: translateX(0) rotateY(180deg);
  }
  40% {
    -ms-transform: translateX(8px) rotateY(180deg);
    transform: translateX(8px) rotateY(180deg);
  }
  60% {
    -ms-transform: translateX(5px) rotateY(180deg);
    transform: translateX(5px) rotateY(180deg);
  }
}

@keyframes scale-up-ver-center {
  0% {
    transform: scaleY(0.4);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes pulse {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  to {
    transform: scale(1);
  }
}
