.path-guest-book{
  .block-feedback{
    gap: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;

    .feedback-item{
      .feedback-group{
        &-info{
          display: flex;
        }
        &-response{
          padding: 10px;
        }
        &-user-contacts{
          >p{
           margin: 0;
          }
        }
      }

      .feedback{
        &__info{
          display: flex;
          margin-left: 10px;
          flex-direction: column;
          justify-content: center;
        }
        &__created{
          font-size: 12px;
        }
        &__img{
          width: 30%;
          object-fit: contain;
        }
      }

      .user{
        &__ava{
          width: 50px;
          height: 50px;
          object-fit: cover;
          border-radius: 50%;
        }
        &__name{
          font-size: 18px;
        }
      }
    }

  }
}
