body{
    width: 980px;
    margin: auto;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 22px;
}

header{
    margin-bottom: 15px;
}

#img-1{
    width: 120px;
    height: 110px;
}

#img-2{
    width: 170px;
    height: 100px; 
}

#img-3{
    margin: 0 0 20px 20px;
    width: 142px;
    height: 165px;
}

#img-4{
    width: 313.34px;
    height: 81px;
}

#d2{
    flex-grow: 2;
    margin: 0 20px;
}

#d3{
    flex-grow: 3;
    text-align: right;
    padding: 20px;
}

#d5{
    padding: 0px 20px;
    margin: 0 0 20px 20px;
}

#d6{
    flex-wrap: wrap;
}

#main{
    margin: 15px 0;
}

#left{
    justify-content: space-between;
}

#center_down{
    display: flex;
}


#d8, #d9{
    width:50%;
    margin: 0 0 0 20px;
    padding: 0 25px;
}

#d8{
    margin: 0, 20px, 20px, 20px; 
}

footer{
     margin-top: 15px;
}

#d10, #d11, #d12-13{
    width: 33%;
}

#d11{
    margin: 0 20px;
}

#d12{
    height: 50%;
    margin-bottom: 20px;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.gray, a{
    background-color:#767676;
    color: #FFFFFF;
}

.white{
    background-color:#DBDBDB;
    color: #7C7C7C;
}

a[href^="tel:"]{
    text-decoration: none;
}

.style-none{
    list-style-type: none;
    padding: 0  15px;
}

.style-square{
    list-style-type: square;
}

.multi-column {
    column-count: 2;
    column-gap: 20px;
    column-fill: auto;
 }